<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>视频收藏</title>
        <!-- 引入 WeUI -->
        <!-- <link rel="stylesheet" href="path/to/weui/dist/style/weui.min.css"/> -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
        <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.1.2/css/jquery-weui.min.css">
    </head>
    <body>
        <div class="weui-cells__title">视频列表</div>
        <div class="weui-cells">
        <% if @videos.nil? %>
        <div style="padding: 15px;">
          <div style="margin-bottom: 25px;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center">
            <i class="weui-icon-info weui-icon_msg" style="margin-right: 18px"></i>
            <div style="-webkit-flex-shrink: 100;flex-shrink: 100">
              <h3 style="font-weight: 400">您还没有收藏的视频</h3>
              <p style="margin-top: 6px;font-size: 12px;color: #888">请通过对话框搜索后点击“下载”收藏视频</p>
            </div>
          </div>
        </div>
        <% else %>
        <% @videos.each do |v| %>
        <div class="weui-cell weui-cell_swiped" id="cell-<%=v.id%>">
        <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
          <div class="weui-cell">
            <div class="weui-cell__hd"><a href="<%= v.video_src %>"><img src="<%= v.video_cover %>" style="width:144px;margin-right:5px;display:block"></a></div>
            <div class="weui-cell__bd">
              <p><a style="color:#818181;font-size: 15px;" href="<%= v.video_src %>"><%= v.name %></a></p>
            </div>
          </div>
        </div>
        <div class="weui-cell__ft">
          <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:void(0);" id="<%=v.id%>">删除</a>
           <!-- link_to "删除", videos_path(v.id), :method => :delete, :class => "weui-swiped-btn weui-swiped-btn_warn delete-swipeout", :data => { :confirm => '确认删除该视频?'  -->
        </div>
        </div>
        <% end %>
        </div>

        <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery-weui/1.1.2/js/jquery-weui.min.js"></script>
        <script>
        $(document).ready(function() {
          $('.weui-swiped-btn.weui-swiped-btn_warn.delete-swipeout').click(function(event){
            id = this.id
            $.ajax({
                    type: "POST",
                    url: "/videos/remove",
                    data: JSON.stringify( { video_id: id } ),
                    contentType: "application/json",
                    complete: function(){
                      $.toptip('已删除', 2000, 'success');
                      $('#cell-' + String(id)).remove();
                      // $.toast("已删除", 4000);
                    }
                });
            event.preventDefault();
          });
        })

      </script>

    </body>
</html>
